
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
:root{
    --font-chakra: 'Chakra Petch', sans-serif;
    --font-color-white: white;
    --font-color-black: black;
    --textbackground-white:  rgba(255, 255, 255, 0.3); 
}

body{
    height: 100%;
    margin: 0px;
}

/* HEADER */
header{
    background-color:brown;
    height: 1px;
}
/* HEADLINE */
#headline{
    display: flex;
    background-color: yellowgreen;
    background-color: black;
    height: 70px;
    margin: 0px;
}
#intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    background-color: transparent;
    width: 60%;
    margin: 6px;
    border-radius: 40px;
    border: 3px solid white;
    color: white;
    font-family: var(--font-chakra);
    font-size: 3rem;
}
#search-container{
    display: flex;
    background-color: transparent;
    width: 100%;
    margin: 4px;
    padding: 3px 2px;
    justify-content: flex-end;
}
#search-form{
    display: flex;
    justify-content: center;
    background-color:transparent;
    margin: 5px;
    padding: 3px 3px;
    width: 70%;
}
#search-bar{
    background-color: white;
    width: 100%;
    margin: 3px;
    padding: 2px 8px;
    border-radius: 40px;
    font-size: 150%;
    font-family: var(--font-chakra);
    color: black;
    text-align: left;
}
#search-button{
    width: 30%;
    margin: 3px;
    font-family: var(--font-chakra);
    font-size: 1.5rem;
    border-radius: 20px;
}
/* MAIN SECTION */
#main-section{
    background-color: gray;
    background: url('../img/background/climate-change-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
}

#main-container{
    background-color: aqua;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 150%;
}   
#main-info-container{
    background-color: crimson;
    background-color: transparent;
    height: 200%;
    display: flex;
    flex-direction: column;
}
#name-date-container{
    background-color: burlywood;
    background-color: transparent;
    height: 50%;
    margin: 5px;
    display: flex;
}
#name-container{
    background-color: yellowgreen;
    background-color: var(--textbackground-white);
    display: flex;
    margin: 2px;
    padding: 5px 10px;
    width: 100%;
    color: var(--font-color-black);
    font-family: var(--font-chakra);
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}
#date-container{
    display: flex;
    background-color: yellowgreen;
    background-color: var(--textbackground-white);
    margin: 2px;
    padding: 5px 5px;
    width: 100%;
    align-items: center;
    color: var(--font-color-black);
    font-family: var(--font-chakra);
    font-size: 2rem;
}
#weather-summary-container{
    display: flex;
    background-color: violet;
    background-color: transparent;
    height: 200%;
    margin: 10px;
    padding: 5px 5px;
}
#icon-container img{
    max-width: 100%;
    max-height: 100%;
}
#weather-info-container{
    display: flex;
    flex-direction: column;
    background-color: turquoise;
    background-color: transparent;
    width: 100%;
    margin: 10px;
    padding: 5px 5px;
}
#temperature-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: springgreen;
    background-color: transparent;
    height: 100%;
    margin: 2px;
    padding: 10px 10px;
}
#temperature{
    display: flex;
    background-color: tomato;
    background-color: transparent;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 2px;
}
#temp-value{
    display: flex;
    justify-content:center;
    background-color: var(--textbackground-white);
    margin: 2px;
    width: 100%;
    color: var(--font-color-black);
    font-family: var(--font-chakra);
    font-size: 9rem;
}
#temp-unit{
    display: flex;
    justify-content: center;
    background-color: chartreuse;
    background-color: var(--textbackground-white);
    padding: 2px 10px;
    margin: 2px;
    width: 40%;
    color: var(--font-color-white);
    color: var(--font-color-black);
    font-family: var(--font-chakra);
    font-size: 3rem;
}
#unit-converter{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 20%;
    padding: 2px 10px;
    margin: 5px;
    background-color: blue;
}
 
#min-max-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    background-color: var(--textbackground-white);
    height: 30%;
    width: 100%;
    color: var(--font-color-black);
    font-family: var(--font-chakra);
    font-size: 2rem;
}
#weather-description-container{
    display: flex;
    justify-content: flex-start;
    background-color: springgreen;
    background-color: transparent;
    height: 30%;
    margin: 2px;
    text-align: center;
    padding: 5px 10px;
    font-family: var(--font-chakra);
    font-size: 3rem;
}
#weather-icon{
    display: flex;
    background-color: darkkhaki;
    background-color: transparent;
    justify-content: flex-end;
    width: 60%;
    margin: 3px;
}
#weather-icon img{
    width: 50%;
    height: 50%;
}
#weather-description{
    display: flex;
    justify-content: flex-start;
    background-color: darkkhaki;
    background-color: var(--textbackground-white);
    width: 100%;
    margin: 3px;
    padding: 5px 5px;
    color: var(--font-color-black);
    font-family: var(--font-chakra);
    font-size: 2.5rem;
}
#extra-container{
    display: flex;
    background-color: turquoise;
    background-color: transparent;
    width: 60%;
    margin: 5px;
    padding: 0px 0px;
}
#side-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    background-color: transparent;
    width: 100%;
    margin: 5px;
    padding: 70px 10px;
}
#side-sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--textbackground-white);
    border-radius: 20px;
    border: 3px solid white;
    height: 100%;
    width: 70%;
}
.side-info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: chartreuse;
    background-color: transparent;
    margin: 2px;
    width: 90%;
    height: 100%;
}
.side-info{
    display: flex;
    justify-content: center;
    background-color: crimson;
    background-color: transparent;
    width: 100%;
    margin: 2px;
}
.side-label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    background-color: transparent;
    width: 100%;
    margin: 3px;
    color: var(--font-color-black);
    font-family: var(--font-chakra);
    font-size: 1.5rem;
}
.side-value{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    background-color: transparent;
    width: 100%;
    margin: 3px;
    color: var(--font-color-black);
    font-family: var(--font-chakra);
    font-size: 1.2rem;
}
/* FOOTER */
footer{
    background-color: black;
}
