
body{
    background-color: white;
}

/* HEADER */
header{
    background-color:brown;
}
/* HEADLINE */
#headline{
    background-color: blue;
}
/* MAIN SECTION */
#main-section{
    background-color: gray;
}
/* FOOTER */
footer{
    background-color: black;
}
